#social-buttons button { color: white;
	opacity:1;
	right: 0;
}
.btn-twitter {
background-color: #00acee;
border-color: #009ad5; }
.btn-facebook { background-color: #4868ac; border-color: #314776;
}
.btn-JustEat {
background-color: #b62f26;
border-color: #b62f26; 
}
.background { 
	min-height: 600px;
	background-image:url('images/food.jpg');
	background-size:cover;
	background-attachment: fixed; 

}

.heading {
text-align:center;
margin: auto;
display: block;


}

#buzz h2 small{
	color: #990033;
}
.class1 img{
   height: 250px;

 }

.class1 {
	font-family: Impact, Charcoal, sans-serif;


}


.end {
	text-align:center;
    margin-top:100px ;
    margin-right:auto;
    margin-left:auto;

}

.tomato{
	height: 100px;
	width:auto;
	margin-right:auto;
	margin-left:;

}


form {
      text-align:center; 
      vertical-align: middle;
      margin: auto;
     margin-top: 300px;
     margin-bottom: 300px;


}

h1 {
	font-size: 50px;
	color:#990033 ;

}

.row {
margin-left: 50%;
display: block;



}