#social-buttons button { color: white;
	opacity:1;
	right: 0;
}
.btn-twitter {
background-color: #00acee;
border-color: #009ad5; }
.btn-facebook { background-color: #4868ac; border-color: #314776;
}
.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26; 
}
.jumbotron{ 
	min-height: 600px;
	background-image:url('images/food.jpg');
	background-size:cover;
	background-attachment: fixed ; 

}
#What do meals on wheels customers think of us?{
	background-color: rgba(32,35,41,0.9);
	color: #df80ff;
}
.class1 img{
   height: 250px;



}
.end {
	text-align:center;
    margin-top:200px ;
    margin-right:auto;
    margin-left:auto;

}

.tomato{
	height: 100px;
	width:auto;

}